.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    height: 100%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
}
.card-image{
    padding: 1rem ;
}
.card-image img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 1rem;
}
.card-content{
    padding: 1rem;
    text-align: center;
}
.product-name{
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
.product-desc{
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
}
.card-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.add-to-cart{
    margin-bottom: 6px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    /* background-color: #000; */
    border: 1px solid #000;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.buy-now{
    margin-bottom: 6px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #000;
    color: #fff;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}